$color : #f8f0e3;
$textColor : white;

body {
    background-color: $color;
}

#navbarTitle {
    color: $color;
}

#navButton {
    background-color: $color;
}

#mainTitle {
    font-family: bely-display, sans-serif;
}

a {
    font-family: bely, serif;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
}

#notMain {
    font-family: bely, serif;
    font-weight: 700;
    font-style: normal;
}

.footerImages {
    margin: 1.5%;
    filter: invert(1);
}

#footerImages:hover {
    fill: red;
}

#mainImage {
    max-width: 100%;
}

.techStack {
    max-width: 50rem;
    height:auto;
}

a :active {
    color: red;
}

h1,
p {
    margin-bottom: 0.75em;
}

.display-none {
    visibility: hidden;
}